.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.background {
  margin-bottom: 0px;
  padding: 100px 60px;
  background-color: #fcfcfc;
}

.heading {
  margin-top: 0px;
  margin-bottom: 60px;
  padding-top: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #414141;
  font-size: 34px;
  line-height: 44px;
  font-weight: 700;
}

.text-span {
  color: silver;
}

.main-text {
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  color: #414141;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
}

.main-text:hover {
  color: #000;
  font-weight: 400;
  text-decoration: underline;
}

.main-text:active {
  font-weight: 400;
}

.text-span-2 {
  color: silver;
  font-weight: 400;
}

.middle-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.bold-text {
  color: #414141;
  font-weight: 400;
}

.bold-text:hover {
  color: silver;
}

.link {
  color: #414141;
  text-decoration: underline;
}

.link:hover {
  color: silver;
  font-weight: 400;
}

.menu-text {
  margin-top: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #414141;
  font-size: 16px;
  line-height: 25px;
  font-weight: 700;
}

.add-links-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  padding-top: 20px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.link-menu {
  display: block;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  color: silver;
  font-size: 16px;
  line-height: 25px;
  font-weight: 700;
  text-decoration: none;
}

.link-menu:hover {
  color: #000;
  text-decoration: underline;
}

.link-menu-2 {
  display: block;
  margin-top: 10px;
  margin-right: 30px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  color: silver;
  font-size: 16px;
  line-height: 25px;
  font-weight: 700;
  text-decoration: none;
}

.link-menu-2:hover {
  color: #000;
  text-decoration: underline;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.index-columns {
  margin-bottom: 40px;
}

.topix-index-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 16px;
}

.content-index-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.index-sub-text {
  margin-top: 0px;
  font-family: 'Open Sans', sans-serif;
  color: silver;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
}

.div-block {
  margin-left: 10px;
}

.main-text-home {
  margin-bottom: 100px;
  font-family: 'Open Sans', sans-serif;
  color: #414141;
  font-size: 16px;
  line-height: 28px;
}

.list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.tab-overview {
  margin-bottom: 40px;
}

.tabs-content {
  margin-top: 10px;
}

.tab-link-tab-1 {
  margin-right: 20px;
  padding-right: 60px;
  padding-left: 10px;
  border: 1px none #000;
  border-radius: 5px;
  background-color: rgba(102, 61, 61, 0);
}

.tab-link-tab-1.w--current {
  padding-right: 60px;
  padding-left: 10px;
  border: 2px none #000;
  border-radius: 5px;
  background-color: #f5f5f5;
  font-family: 'Open Sans', sans-serif;
}

.tab-link-tab-2 {
  margin-right: 20px;
  padding-right: 60px;
  padding-left: 10px;
  border-radius: 5px;
  background-color: hsla(0, 0%, 86.7%, 0);
}

.tab-link-tab-2.w--current {
  border: 1px none #000;
  background-color: #f5f5f5;
}

.tab-link-tab-3 {
  padding-right: 60px;
  padding-left: 10px;
  border-radius: 5px;
  background-color: hsla(0, 0%, 86.7%, 0);
}

.tab-link-tab-3.w--current {
  padding-left: 10px;
  border: 2px none #414141;
  background-color: #f5f5f5;
}

.image {
  position: relative;
  min-width: 100%;
}

.grid {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto;
}

.main-text-123 {
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  color: #414141;
  font-size: 16px;
  line-height: 25px;
  font-style: normal;
  font-weight: 400;
}

.main-text-123:hover {
  color: #000;
  font-weight: 400;
  text-decoration: none;
}

.main-text-123:active {
  font-weight: 700;
}

.bold-text-1 {
  color: #bdd0c4;
  font-weight: 400;
}

.bold-text-3 {
  color: #9ab7d3;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
}

.bold-text-3:hover {
  text-decoration: none;
}

.bold-text-4 {
  color: #f5d2d3;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
}

.bold-text-4:hover {
  text-decoration: none;
}

.background-dark {
  margin-bottom: 0px;
  padding: 100px 60px;
  background-color: #1a1a1a;
}

.menu-text-dark {
  margin-top: 0px;
  font-family: 'Open Sans', sans-serif;
  color: silver;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
}

.link-menu-dark {
  display: block;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #727272;
  line-height: 18px;
  font-weight: 700;
  text-decoration: none;
}

.link-menu-dark:hover {
  color: #fff;
  text-decoration: underline;
}

.heading-dark {
  margin-top: 0px;
  margin-bottom: 60px;
  padding-top: 0px;
  font-family: 'Open Sans', sans-serif;
  color: silver;
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
}

.main-text-home-dark {
  margin-bottom: 100px;
  font-family: 'Open Sans', sans-serif;
  color: silver;
  font-size: 18px;
  line-height: 28px;
}

.bold-text-dark {
  color: silver;
  font-weight: 400;
}

.bold-text-dark2 {
  color: silver;
  font-weight: 400;
  text-decoration: underline;
}

.bold-text-dark2:hover {
  color: #fff;
}

.link-dark {
  color: silver;
  text-decoration: underline;
}

.link-dark:hover {
  color: #fff;
  font-weight: 400;
}

.link-menu-2-dark {
  display: block;
  margin-top: 10px;
  margin-right: 30px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #727272;
  line-height: 18px;
  font-weight: 700;
  text-decoration: none;
}

.link-menu-2-dark:hover {
  color: #fff;
  text-decoration: underline;
}

.text-span-dark {
  color: #727272;
}

.text-span-2-dark {
  color: #727272;
  font-weight: 400;
}

.bold-text-index {
  color: silver;
  font-weight: 400;
}

.main-text-arrow {
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  color: #414141;
  font-size: 16px;
  line-height: 28px;
}

.main-text-arrow:hover {
  color: #000;
  font-weight: 400;
  text-decoration: none;
}

.main-text-arrow:active {
  font-weight: 700;
}

.main-text-index-2 {
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  color: #414141;
  font-size: 18px;
  line-height: 28px;
}

.main-text-index-2:hover {
  color: #000;
  font-weight: 400;
  text-decoration: none;
}

.main-text-index-2:active {
  font-weight: 700;
}

.link-index {
  color: #414141;
  text-decoration: none;
}

.link-index:hover {
  text-decoration: underline;
}

.link-index:active {
  font-weight: 400;
}

.column-2 {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.toggle-switch {
  width: 40px;
  max-width: none;
  min-width: auto;
  cursor: pointer;
}

.about-section {
  min-width: 100%;
  margin-bottom: 220px;
  padding-top: 0px;
}

.index-section {
  min-width: 100%;
  margin-bottom: 220px;
  padding-top: 0px;
}

.faq-p {
  overflow: hidden;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f4f6f8;
}

.faq {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80px;
  padding: 10px 50px 10px 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5f5f5;
  color: #f4f6f8;
  font-size: 16px;
  font-weight: 600;
  white-space: break-spaces;
}

.faq:hover {
  background-color: #f5f5f5;
}

.faq.w--open {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.faq-icon {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;
  width: 24px;
  margin-right: 16px;
  -webkit-filter: contrast(0%);
  filter: contrast(0%);
  color: rgba(9, 9, 9, 0);
}

.faq-body {
  position: relative;
  display: block;
  width: 100%;
  background-color: transparent;
}

.faq-body.w--open {
  background-color: transparent;
}

.faq-body-cont {
  padding: 30px;
  border-top: 1px none #000;
  background-color: #f5f5f5;
  font-size: 16px;
  line-height: 32px;
  font-weight: 300;
}

.faq-answer {
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #414141;
  line-height: 28px;
  font-weight: 400;
}

.toggle-list-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
}

.link-index-2 {
  color: #414141;
  text-decoration: underline;
}

.link-index-2:hover {
  text-decoration: underline;
}

.link-index-2:active {
  font-weight: 400;
}

.moods-section {
  min-width: 100%;
  padding-top: 0px;
}

.section-1 {
  min-width: 100%;
  margin-bottom: 100px;
}

.section-2 {
  min-width: 100%;
  margin-bottom: 100px;
}

.form {
  padding-top: 60px;
}

.sectkon-3 {
  min-width: 100%;
}

.form-2 {
  padding-top: 0px;
}

.toggle-switch-mobile {
  display: none;
  max-width: 17%;
  min-width: 17%;
  cursor: pointer;
}

.toggle-text-2 {
  position: relative;
  z-index: 2;
  font-family: 'Open Sans', sans-serif;
  color: #414141;
  line-height: 26px;
  font-weight: 400;
}

.bright-text {
  color: silver;
}

.toggle-text {
  position: relative;
  z-index: 2;
  margin-right: 15px;
  font-family: 'Open Sans', sans-serif;
  color: #414141;
  line-height: 26px;
  font-weight: 400;
}

.link-menu-23 {
  display: none;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  color: silver;
  font-size: 16px;
  line-height: 25px;
  font-weight: 700;
  text-decoration: none;
}

.link-menu-23:hover {
  color: #000;
  text-decoration: underline;
}

.form-block {
  margin-bottom: 20px;
}

@media screen and (min-width: 1280px) {
  .add-links-div {
    margin-top: 40px;
  }

  .column {
    position: -webkit-sticky;
    position: sticky;
    top: 40px;
  }

  .index-columns {
    margin-bottom: 40px;
  }

  .main-text-home {
    margin-bottom: 140px;
  }

  .image {
    min-width: 100%;
  }

  .main-text-home-dark {
    margin-bottom: 140px;
  }

  .about-section {
    margin-bottom: 220px;
  }

  .index-section {
    margin-bottom: 260px;
  }

  .toggle-list-2 {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 991px) {
  .background {
    padding-right: 40px;
    padding-left: 40px;
  }

  .heading {
    line-height: 44px;
  }

  .middle-column {
    padding-right: 0px;
    padding-left: 0px;
  }

  .column {
    padding-left: 0px;
  }

  .toggle-switch {
    max-width: none;
    min-width: auto;
  }

  .section-1 {
    min-width: 120%;
  }

  .section-2 {
    min-width: 120%;
  }

  .sectkon-3 {
    min-width: 120%;
  }

  .toggle-switch-mobile {
    display: none;
    width: 40px;
    max-width: none;
    min-width: auto;
  }

  .link-menu-23 {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .background {
    padding-top: 80px;
    padding-right: 60px;
    padding-left: 60px;
  }

  .heading {
    line-height: 44px;
  }

  .column {
    position: static;
    margin-bottom: 60px;
    padding-top: 0px;
  }

  .topix-index-column {
    margin-bottom: 20px;
  }

  .column-2 {
    display: none;
  }

  .toggle-switch {
    max-width: none;
    min-width: auto;
  }

  .section-1 {
    min-width: 100%;
  }

  .section-2 {
    min-width: 100%;
  }

  .sectkon-3 {
    min-width: 100%;
  }

  .toggle-switch-mobile {
    display: block;
    width: 40px;
    max-width: none;
    min-width: auto;
    margin-bottom: 20px;
  }

  .link-menu-23 {
    display: block;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 479px) {
  .background {
    padding-top: 60px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .heading {
    margin-bottom: 40px;
    line-height: 44px;
  }

  .column {
    margin-bottom: 40px;
    padding-top: 0px;
    background-color: hsla(0, 0%, 98.8%, 0);
  }

  .tab-link-tab-1 {
    padding-right: 20px;
  }

  .tab-link-tab-1.w--current {
    padding-right: 20px;
  }

  .tab-link-tab-2 {
    padding-right: 20px;
  }

  .tab-link-tab-3 {
    padding-right: 20px;
  }

  .column-2 {
    display: none;
  }

  .toggle-switch {
    max-width: none;
    min-width: auto;
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .about-section {
    margin-bottom: 0px;
  }

  .index-section {
    margin-bottom: 0px;
  }

  .faq {
    padding-right: 40px;
    padding-left: 20px;
  }

  .toggle-switch-mobile {
    max-width: none;
    min-width: auto;
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .link-menu-23 {
    margin-bottom: 40px;
  }
}

#w-node-_2d5002d8-47df-8366-da87-b9efdc18299f-040a38e3 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_2d5002d8-47df-8366-da87-b9efdc1829a0-040a38e3 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_2d5002d8-47df-8366-da87-b9efdc182999-040a38e3 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_2d5002d8-47df-8366-da87-b9efdc18299a-040a38e3 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_2d5002d8-47df-8366-da87-b9efdc18299b-040a38e3 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_2d5002d8-47df-8366-da87-b9efdc18299c-040a38e3 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_2d5002d8-47df-8366-da87-b9efdc18299d-040a38e3 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_2d5002d8-47df-8366-da87-b9efdc18299e-040a38e3 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_2d5002d8-47df-8366-da87-b9efdc1829a2-040a38e3 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_2d5002d8-47df-8366-da87-b9efdc1829a3-040a38e3 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_2d5002d8-47df-8366-da87-b9efdc1829a4-040a38e3 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_2d5002d8-47df-8366-da87-b9efdc1829a5-040a38e3 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_2d5002d8-47df-8366-da87-b9efdc1829a6-040a38e3 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_2d5002d8-47df-8366-da87-b9efdc1829a7-040a38e3 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_2d5002d8-47df-8366-da87-b9efdc1829a8-040a38e3 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_2d5002d8-47df-8366-da87-b9efdc1829ab-040a38e3 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_2d5002d8-47df-8366-da87-b9efdc1829ac-040a38e3 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_2d5002d8-47df-8366-da87-b9efdc1829ad-040a38e3 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_2d5002d8-47df-8366-da87-b9efdc1829ae-040a38e3 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_2d5002d8-47df-8366-da87-b9efdc1829af-040a38e3 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_2d5002d8-47df-8366-da87-b9efdc1829b0-040a38e3 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_2d5002d8-47df-8366-da87-b9efdc1829b1-040a38e3 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_2d5002d8-47df-8366-da87-b9efdc1829b2-040a38e3 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_2d5002d8-47df-8366-da87-b9efdc1829b3-040a38e3 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_2d5002d8-47df-8366-da87-b9efdc1829b4-040a38e3 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_2d5002d8-47df-8366-da87-b9efdc1829b5-040a38e3 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_2d5002d8-47df-8366-da87-b9efdc1829b9-040a38e3 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_2d5002d8-47df-8366-da87-b9efdc1829ba-040a38e3 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_2d5002d8-47df-8366-da87-b9efdc1829bb-040a38e3 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_2d5002d8-47df-8366-da87-b9efdc1829bc-040a38e3 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_2d5002d8-47df-8366-da87-b9efdc1829bd-040a38e3 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_2d5002d8-47df-8366-da87-b9efdc1829be-040a38e3 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_2d5002d8-47df-8366-da87-b9efdc1829bf-040a38e3 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_2d5002d8-47df-8366-da87-b9efdc1829c0-040a38e3 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_2d5002d8-47df-8366-da87-b9efdc1829c1-040a38e3 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_2d5002d8-47df-8366-da87-b9efdc1829c2-040a38e3 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_2d5002d8-47df-8366-da87-b9efdc1829c3-040a38e3 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-b8f48014-4cad-0853-68d3-cecd46101164-9c1820a6 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-bada963b-7567-d76b-9082-5ed4d35d1ed9-9c1820a6 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_6b3add83-773d-153d-b9c5-9afb87fc10e9-9c1820a6 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-f74980d0-eb98-7329-51f3-65f0cb4f2dc0-9c1820a6 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_311e46b4-e6e4-4d21-445c-558b7aa55720-9c1820a6 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_50e68a3a-7e3c-71ed-5deb-53ab5f8996ab-9c1820a6 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_06445156-55b5-22b8-1040-6d87b06561d0-9c1820a6 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_19395a6b-d605-de39-be31-665ab34ace2a-9c1820a6 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_503659ab-3f1e-4f11-d2f3-d064b1aa77bb-9c1820a6 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_735da59a-4473-5ac3-4fbb-a6fb37cf5f8e-9c1820a6 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-ef3ed705-bdee-b10c-22cb-4b04ca8eb3b3-9c1820a6 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_1d69cc15-8dda-9cae-c9b0-a3b0e17d9d76-9c1820a6 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_28f2f384-4031-7af2-d5fc-b31349610270-9c1820a6 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_2ed615bb-cb12-f99b-1b1e-ead2ee2aaef7-9c1820a6 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-fcb7131a-fd5f-d68e-d131-73d7c7449f1f-9c1820a6 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_5a2f45db-4ce4-5182-4a37-f5ce441dcae7-9c1820a6 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_852a3a13-17ae-57bb-b2b6-b2b60eb48840-9c1820a6 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_2623f81f-57c4-0fe4-b87b-3d1dd7ad0d04-9c1820a6 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-fc5a8cfb-fdc5-1bac-7062-8aabdde82b3b-9c1820a6 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-c95ac39f-9527-83ae-ac77-fc7420b5098c-9c1820a6 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_4cc2ad54-50f5-923c-e4fd-27a9832a7534-9c1820a6 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_56e632fd-fc9e-8cf6-73cb-4b005ea4845e-9c1820a6 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_005be299-45f8-5d58-ba4c-8fc11e6b8298-9c1820a6 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_285b89cf-988e-6433-b6a8-b7e7f8ebd5a0-9c1820a6 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-c0edc08f-b017-4bb2-d234-30a53f7bfe56-9c1820a6 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_8482c264-5a5b-02ae-bf2d-730445ac42e0-9c1820a6 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-f134e85d-602b-fbb0-dd66-08f1b2c99742-9c1820a6 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_67c050eb-6bad-8552-a204-bb0b76ca9f15-9c1820a6 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_02dcb2bd-f9ab-3427-5138-027f65d39e2c-9c1820a6 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_4f4b7acd-4b41-f5f4-2690-fcc3e9ebb60d-9c1820a6 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-bec01ffe-bf39-0c06-e16c-7e1a2ae791be-9c1820a6 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_3eb80f7b-95cf-8044-2ddf-988401a17c55-9c1820a6 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_8f431c3b-7616-0fdd-7937-b26380acce20-9c1820a6 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-ccc8defc-f169-d284-ada9-8c61dc0b2f24-9c1820a6 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_46dc373f-04e2-a68c-d31d-cc98ae59a396-9c1820a6 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_319686ec-dca6-4dc1-bca3-7427ef2c23ee-9c1820a6 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_60560c38-1031-dbae-2bb7-2860ebf7c0d8-9c1820a6 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-d62aa7ba-c462-59cc-8c11-b3b2a4040e9a-9c1820a6 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-f0efd9e9-c2bd-4b85-b871-4a974a883079-9c1820a6 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

